원본자료/2_핵심예제 분석자료/8_SaaS형_온라인_비즈니스_컨설팅_JTBD_심층_인터뷰_종합_계획서.pdf
원본자료/2_핵심예제 분석자료/1_SaaS형_온라인_비즈니스_컨설팅_시장에_대한_포터의_5가지_힘_분석.pdf
원본자료/2_핵심예제 분석자료/2_SaaS형_온라인_비즈니스_컨설팅_솔루션_주요기업_가치사슬_분석_및_통합_비교표.pdf
원본자료/2_핵심예제 분석자료/3_SaaS형_온라인_컨설팅_신규_진입자_KSFs_Top_5.pdf
원본자료/2_핵심예제 분석자료/4_SaaS형_온라인_비즈니스_컨설팅_문제정의서_초안_3종.pdf
원본자료/2_핵심예제 분석자료/5_SaaS형_온라인_비즈니스_컨설팅_TAM-SAM-SOM_핵심_원인_Market_Segment_분석_보고서.pdf
원본자료/2_핵심예제 분석자료/6_SaaS_형_온라인_비즈니스_컨설팅_시장의_고객_페르소나_스펙트럼_고객_여정지도_(Gemini_분석_기반).pdf
원본자료/2_핵심예제 분석자료/7_SaaS_온라인_비즈니스_컨설팅의_AOS-DOS_매트릭스_및_종합기회평가표.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/1_Porters_Five_Forces_모델.md
원본자료/1_시장 및 비즈니스 분석 방법론/1_Porters_Five_Forces_모델.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/2_가치사슬_분석_방법론.md
원본자료/1_시장 및 비즈니스 분석 방법론/2_가치사슬_분석_방법론.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/3_KSFs_추출_템플릿.md
원본자료/1_시장 및 비즈니스 분석 방법론/4-1_임팩트_비즈니스형_문제정의_기법.md
원본자료/1_시장 및 비즈니스 분석 방법론/4-1_임팩트_비즈니스형_문제정의_기법.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/4-2-문제정의서_작성_프롬프트.md
원본자료/1_시장 및 비즈니스 분석 방법론/5_TAM-SAM-SOM_과_Market_Segment_Map.md
원본자료/1_시장 및 비즈니스 분석 방법론/5_TAM-SAM-SOM_과_Market_Segment_Map.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/6-1_페르소나와_페르소나_스펙트럼_고객_여정지도_작성_이론.md
원본자료/1_시장 및 비즈니스 분석 방법론/6-1_페르소나와_페르소나_스펙트럼_고객_여정지도_작성_이론.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/6-2_MarketSegment_로부터_페르소나_스펙트럼_추출_프롬프트.md
원본자료/1_시장 및 비즈니스 분석 방법론/6-3_심층리서치_수행을 위한_7단계_방법론.md
원본자료/1_시장 및 비즈니스 분석 방법론/7_시장기회_분석을_위한_OS-AOS-DOS_계산_방법과_매트릭스_시각화_방법.md
원본자료/1_시장 및 비즈니스 분석 방법론/7_시장기회_분석을_위한_OS-AOS-DOS_계산_방법과_매트릭스_시각화_방법.pdf
원본자료/1_시장 및 비즈니스 분석 방법론/8-1_JTBD-interview-guide-card.html
원본자료/1_시장 및 비즈니스 분석 방법론/8-2_JTBD_인터뷰_결과_보고서_작성_방법.md
원본자료/1_시장 및 비즈니스 분석 방법론/8-3_ValueProposition_Sheet_작성방법.md
원본자료/2_핵심예제 분석자료/0-1_비즈니스_기획_초안_초보_창업가를_위한_3단계_종합_진단_온라인_컨설팅.pdf
원본자료/2_핵심예제 분석자료/0-2_\[사업기획소개] 초보 창업가를 위한 3단계 종합 진단 온라인 컨설팅.html
원본자료/2_핵심예제 분석자료/8-2_SaaS형_온라인_비즈니스_컨설팅_JTBD_가상인터뷰_결과지_back.md
원본자료/2_핵심예제 분석자료/8-2_SaaS형_온라인_비즈니스_컨설팅_JTBD_가상인터뷰_결과지.md
원본자료/2_핵심예제 분석자료/GPT-ValueProPositionSheet/GPT-ValueProPositionSheet.md
